<div class="">
    <youtube-player class="sr-only" *ngIf="currentPlaylist.actualVideo < currentPlaylist.videos.length"
        [videoId]="currentPlaylist.videos[currentPlaylist.actualVideo].id" suggestedQuality="small"
        (error)="onytPlayerError($event)" (ready)="onytPlayerReady($event)"
        (stateChange)="onytPlayerStateChange($event)" #ytPlayer>
    </youtube-player>
    <div class="row w-100">
        <div class="col-5 border d-flex flex-column" style="height: 95vh;">
            <div class="py-3 px-5 border bg-light form-group row">
                <input type="text" name="videoIntput" id="videoIntput" class="form-control col-10"
                    [ngClass]="{'is-invalid': missingVideoInput || videoNotFound}" [(ngModel)]="videoInput">
                <button class="col-2 btn btn-success" (click)="onSendVideo()">Ajouter</button>
                <div class="invalid-feedback" *ngIf="videoNotFound">Video non trouvé</div>
            </div>
            <div style="overflow-y: scroll; overflow-x: hidden; height: 100%;">
                <app-video *ngFor="let video of currentPlaylist.videos; let index = index"
                [video]="video"
                [passed]="currentPlaylist.actualVideo > index"
                [ongoing]="currentPlaylist.actualVideo == index">
                </app-video>
            </div>
        </div>
        <div class="col-7 border bg-light" style="height: 95vh;">
            <div class="border mt-5 d-flex flex-column justify-content-between" style="height: 80%;">
                <div class="border h-100" style="overflow-y: scroll; overflow-x: hidden;">
                    <div *ngFor="let message of messages">
                        <div class="d-flex"
                            [ngClass]="{'justify-content-start': !message.own && !message.info,
                                        'justify-content-center': message.info,
                                        'justify-content-end': message.own}">
                            <ng-container *ngIf="!message.own && !message.info">
                                <p class="border rounded-pill bg-warning ml-2 mt-2 px-2">{{ message.message }}</p>
                                <p class="" *ngIf="message.name"><small>{{ message.name }}</small></p>
                            </ng-container>
                            <ng-container *ngIf="message.own">
                                <p class="border rounded-pill bg-success mr-2 mt-2 px-2">{{ message.message }}</p>
                            </ng-container>
                            <ng-container *ngIf="message.info">
                                <p class="mt-2">{{ message.message }}</p>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <form (submit)="onSendMessage()" class="form-group px-4 pt-2 row">
                    <input type="text" name="chatroom" id="chatroom" class="form-control col-10" [(ngModel)]="chatroomInput">
                    <button class="col-2 btn btn-success" type="submit">Envoyer</button>
                </form>
            </div>
            <div class="my-4 d-flex justify-content-between">
                <p><strong>Identifiant: {{ this.currentPlaylist.shortId }}</strong></p>
                <mv-slider [(value)]="volume" [min]="1" [max]="100" (change)="onVolumeChange()"></mv-slider>
                <button class="btn btn-danger" (click)="onDisconect()">Deconnexion</button>
            </div>
        </div>
    </div>
</div>